/* stylelint-disable selector-class-pattern */
.sectionWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container {
  max-width: 1120px;
}

.buttonGroup {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.title {
  color: var(--primaryText);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

.subTitle {
  margin-top: 24px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--secondaryText);
}

@media screen and (max-width: 991px) and (min-width: 0) {
  .title {
    font-size: 40px;
    line-height: 48px;
  }
  
  .subTitle {
    font-size: 16px;
    line-height: 24px;
  }

  .buttonGroup {
    margin-top: 48px;
    gap: 12px;
  }
}
